@import 'src/app/styles/vars.scss';

.login-form {
  display: grid;
  gap: 1rem;

  &__title {
    font-family: inherit;
    font-size: $fs-800;
    line-height: 1.1;
    font-weight: 700;
  }

  &__wrapper {
    display: grid;
    gap: 1rem
  }

  &__reset-password {
    color: $disabled;
    font-size: $fs-300;
    
    cursor: pointer;
  }

  &__redirect-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

    font-size: $fs-400;
  }

  &__redirect-text {
    color: $disabled;
  }

  &__redirect-link {
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 600;

    cursor: pointer;
  }
}